/* ==========================================================================
   Media Queries for Responsive Design.
   ========================================================================== */

@media only screen and (max-width: 600px) {

    /* Globals */
    html,
    body {
        height: 100%;
    }

    main {
        box-shadow: none !important;
    }

    /* Wrapper */
    .container {
        display: block;
        height: unset;
        min-height: calc(100% - 5rem);
        position: unset;
        padding-top: 0;
        padding-bottom: 0;
    }

    .box {
        padding-top: 2rem;
        width: 100%;
    }

    /* Header */
    header {
        border: none !important;
    }

    /* Content */
    .content {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    /* Footer */
    footer {
        position: initial;
        height: 2rem;
        margin-left: 1rem;
        margin-right: 1rem;

        border: none !important;
        box-shadow: none !important;
    }

    footer p {
        text-align: center;
    }

    /* Tabbar */
    nav {
        padding-top: 1rem;
        width: 100%;
        margin: 0;

        box-shadow: none !important;
    }

    .tabbar {
        width: calc(100% - 2rem);
        grid-template-columns: 1fr 1fr;
        grid-gap: 1rem;

        margin-left: 1rem;
        margin-right: 1rem;
    }

    /* Tab normal */
    label {
        box-shadow: 0.2rem 0.2rem 0.2rem 0.1rem rgba(0, 0, 0, 0.2);
        background-color: #FFFFFF;
        color: #14248A;
    }

    /* Tab hover */
    label:hover {
        background-color: #14248A;
        color: #FFFFFF;
    }

    /* Tab clicked */
    input[id="tabAbout"]:checked~nav .tabbar .tab label[for="tabAbout"],
    input[id="tabInterests"]:checked~nav .tabbar .tab label[for="tabInterests"],
    input[id="tabContact"]:checked~nav .tabbar .tab label[for="tabContact"],
    input[id="tabProjects"]:checked~nav .tabbar .tab label[for="tabProjects"] {
        box-shadow: 0.3rem 0.3rem 0.3rem 0.15rem rgba(0, 0, 0, 0.3);
        background-color: #14248A;
        color: #FFFFFF;
    }

    /* More boxed */
    .button,
    label {
        box-shadow: 0.2rem 0.2rem 0.2rem 0.1rem rgba(0, 0, 0, 0.2);
    }

    .button:hover,
    label:hover {
        box-shadow: 0.3rem 0.3rem 0.3rem 0.15rem rgba(0, 0, 0, 0.2);

    }

    /* Contents */
    #projects .footnotes:nth-of-type(2) {
        grid-template-columns: 1fr 1fr;
    }
}