/* ===================================
       Mobile layout (eg. Nexus 10)
   =================================== */

.header-title, .header-subtitle {
    text-indent: -2px;
}

.header-title {
    font-size: 9.7rem;
}

.header-separator {
    border-width: 0.2rem;
    width: 87%;
}

.header-subtitle {
    font-size: 5rem;
}

.link {
    horiz-align: center;
    margin: -1rem;
}

.link svg {
    height: 6.5rem;
    width: 6.5rem;
}

.page-footer {
    text-align: center;
    width: 100%;
    margin: 0;
}

.page-footer ul li {
    display: block;
}