/* ===================================
       Mobile layout (eg. Nexus 10)
   =================================== */

.page-title, .page-subtitle {
    text-indent: -2px;
}

.page-title {
    font-size: 9.7rem;
}

.page-subtitle {
    font-size: 5rem;
}

.page-link {
    horiz-align: center;
    margin: -1rem;
}

.page-link svg {
    height: 6.5rem;
    width: 6.5rem;
}

.page-footer {
    text-align: center;
    width: 100%;
    margin: 0;
}

.page-footer ul li {
    display: list-item;
}