/* =====================
       General style
   ===================== */
@import url(http://fonts.googleapis.com/css?family=Playfair+Display:400,700|Inconsolata);

html, body {
    overflow: hidden;
}

html {
    height: 100%;
    max-height: 100%;
    font-size: 62.5%;
}

body {
    height: 100%;
    max-height: 100%;
    letter-spacing: 0.01rem;
    font-size: 1.8rem;
    line-height: 1.75em;
    color: #242323;

    -webkit-font-feature-settings: "dlig" 1, "kern" 1, "frac" 1;
    -moz-font-feature-settings: "dlig" 1, "kern" 1, "frac" 1;
    -ms-font-feature-settings: "dlig" 1, "kern" 1, "frac" 1;
    font-feature-settings: "dlig" 1, "kern" 1, "frac" 1;
}

/* ==================
       Font setup
   ================== */

.page-title {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
}

.page-link {
    font-family: 'Playfair Display', serif;
    font-weight: 400;
}

.page-footer {
    font-family: 'Inconsolata', monospace;
    font-weight: 400;
}

/* ==================
       Page style
   ================== */

.page-wrapper {
    min-height: 100%;
}

.page-header {
    position: absolute;
    display: table;
    margin: auto;
    width: 80%;
    text-align: center;
    overflow: hidden;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.page-title {
    font-size: 14rem;
    letter-spacing: -1px;
    margin: 0;

    font-style: normal;
    text-indent: -3px;
    line-height: 1.15em;

    -webkit-animation: fade-in-down 1.2s;
    animation: fade-in-down 1.2s;
}

/* =============
       links
   ============= */

.page-link {
    text-decoration: overline;
    line-height: 5.3rem;
    font-size: 4.3rem;
    color: inherit;
    margin: 3rem;
    width: 50%;

    -webkit-animation: fade-in-down 0.8s;
    animation: fade-in-down 0.8s;
}

/* ========================
       Hover management
   ======================== */

.page-link {
    -webkit-transition: all 0.14s ease-in-out;
    -moz-transition: all 0.14s ease-in-out;
    -ms-transition: all 0.14s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.page-link:hover {
    color: #D1CDCD;
}

/* =====================
       Bottom footer
   ===================== */

.page-footer {
    font-size: 1.3rem;
    text-wrap: normal;
    text-align: right;
    margin-right: 2.4rem;
    line-height: 1rem;
    position: fixed;
    bottom: 0;
    right: 0;
}

/* ===================================
       Mobile layout (eg. Nexus 10)
   =================================== */

@media only screen and (max-width: 900px) {

    .page-header {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        min-height: 240px;
        height: 40vh;
        padding: 15% 0;
    }

    .page-title {
        font-size: 8rem;
        letter-spacing: -1px;
        text-indent: -2px;
    }

    .page-link {
        font-size: 3rem;
        margin: 1rem;
    }

    .page-footer {
        text-align: center;
        width: 100%;
        margin: 0;
    }
}

/* ====================================
       Mobile layout (eg. iPhone 4)
   ==================================== */

@media only screen and (max-width: 500px) {

    .page-header {
        height: 30vh;
        max-height: 20vh;
        min-height: 160px;
    }

    .page-link {
        font-size: 2rem;
        margin: 0.4rem;
    }

    .page-title {
        font-size: 6.4rem;
        margin: 0 0 0.3em 0;
        letter-spacing: -4px;
    }
}

/* ==================
       Animations
   ================== */

@-webkit-keyframes fade-in-down {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes fade-in-down {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}