/* =====================
       General style
   ===================== */
@import url(http://fonts.googleapis.com/css?family=Playfair+Display:700|Inconsolata);

html, body {
    overflow: hidden;
    padding: 0;
    margin: 0;
}

html {
    height: 100%;
    max-height: 100%;
    font-size: 62.5%;
}

body {
    letter-spacing: 0.01rem;
    max-height: 100%;
    color: #222222;
    height: 100%;

    font-family: 'Playfair Display', serif;
    font-weight: 700;

    -webkit-font-feature-settings: "onum" 1, "liga" 1;
    -moz-font-feature-settings: "onum" 1, "liga" 1;
    -moz-font-feature-settings: "onum=1, liga=1";
    -ms-font-feature-settings: "onum" 1, "liga" 1;
    -o-font-feature-settings: "onum" 1, "liga" 1;
    font-feature-settings: "onum" 1, "liga" 1;
}

/* ================
       Wrappers
   ================ */

.main-wrapper {
    position: absolute;
    display: table;
    margin: auto;
    width: 40rem;

    text-align: center;
    overflow: hidden;

    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.link-wrapper {
    margin: 0;
}


/* ==================
       Page style
   ================== */

.page-title, .page-subtitle {
    -webkit-animation: fade-in-down 1.2s ease forwards;
    -o-animation: fade-in-down 1.2s ease forwards;
    animation: fade-in-down 1.2s ease forwards;
    margin: 0;

    font-style: normal;
    text-indent: -3px;
    line-height: 1.15em;
    letter-spacing: -1px;
}

.page-title {
    font-size: 14rem;
}

.page-subtitle {
    -webkit-animation-delay: 0.4s;
    -moz-animation-delay: 0.4s;
    -o-animation-delay: 0.4s;
    animation-delay: 0.4s;
    text-decoration: overline;
    font-size: 7rem;
    opacity: 0;
}

/* =============
       Links
   ============= */

.page-link {
    vertical-align: top;
    text-decoration: none;
    color: inherit;
    opacity: 0;
    margin: 0;
}

.page-link a {
    white-space-collapse: discard;
    display: block;
}

.page-link svg {
    margin-right: 1.7rem;
    margin-left: 1.7rem;
    overflow: hidden;
    fill: #242323;
    height: 9.2rem;
    width: 9.2rem;
}

/* ========================
       Hover management
   ======================== */

.page-title, .page-subtitle, .page-link svg {
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.page-title:hover, .page-subtitle:hover {
    color: #7b858e;
}

.page-link svg:hover {
    fill: #7b858e;
}

.page-comment .init:hover ~ * {
    overflow: visible;
    display: block;
    width: 100%;
}

/* ===============================
       Comment & bottom footer
   =============================== */

.page-comment, .page-footer {
    font-family: 'Inconsolata', monospace;
    -webkit-animation: fade-in 0.5s;
    -o-animation: fade-in 0.5s;
    animation: fade-in 0.5s;

    font-weight: 400;
    line-height: 1.6rem;
    font-size: 1.3rem;
    position: fixed;
    margin: 0.4rem;
}

.page-comment a, .page-footer a {
    text-decoration: underline;
    color: #002147;
}

.page-comment {
    text-align: justify;
    width: 90px;
    top: 0.4rem;
    left: 0.4rem;
    clear: right;
}

.page-comment p, .page-comment span {
    white-space: nowrap;
    overflow: hidden;

    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;

    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;

    -webkit-animation: fade-in-down 0.8s ease forwards;
    -o-animation: fade-in-down 0.8s ease forwards;
    animation: fade-in-down 0.8s ease forwards;

    padding: 0;
    margin: 0;
}

.page-comment .first, .page-comment .second, .page-comment .third {
    opacity: 0;
    display: none;
}

.page-comment .second {
    -webkit-animation-delay: 0.2s;
    -moz-animation-delay: 0.2s;
    -o-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

.page-comment .third {
    -webkit-animation-delay: 0.4s;
    -moz-animation-delay: 0.4s;
    -o-animation-delay: 0.4s;
    animation-delay: 0.4s;
}

.page-footer {
    text-wrap: normal;
    text-align: right;

    bottom: 0.4rem;
    right: 0.4rem;
}

.page-footer br, .page-comment br {
    display: none;
}

/* ==================
       Animations
   ================== */

.page-link {
    -webkit-animation: fade-in-down 0.8s ease forwards;
    -o-animation: fade-in-down 0.8s ease forwards;
    animation: fade-in-down 0.8s ease forwards;
}

.page-link.first {
    -webkit-animation-delay: 0.4s;
    -moz-animation-delay: 0.4s;
    -o-animation-delay: 0.4s;
    animation-delay: 0.4s;
}

.page-link.second {
    -webkit-animation-delay: 0.6s;
    -moz-animation-delay: 0.6s;
    -o-animation-delay: 0.6s;
    animation-delay: 0.6s;
}

.page-link.third {
    -webkit-animation-delay: 0.8s;
    -moz-animation-delay: 0.8s;
    -o-animation-delay: 0.8s;
    animation-delay: 0.8s;
}

/* =======================
       Animations Code
   ======================= */

@-webkit-keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-moz-keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-webkit-keyframes fade-in-down {
    from {
        opacity: 0;
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes fade-in-down {
    from {
        opacity: 0;
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@-moz-keyframes fade-in-down {
    from {
        opacity: 0;
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}