html, body {
    font-size: 100%;
}

article {
    width: unset;
    min-width: unset;

    margin-left: 1rem;
    margin-right: 1rem;
}

.cite > article {
    max-width: unset;
}

.portfolio > article {
    min-width: unset;
}

section.portfolio {
    max-height: unset;
}