/* ====================================
       Mobile layout (eg. iPhone 4)
   ==================================== */

.main-wrapper {
    height: 25vh;
    max-height: 20vh;
    min-height: 160px;
}

.page-title, .page-subtitle {
    margin: 0 0 0.3em 0;
    letter-spacing: -2px;
}

.page-title {
    font-size: 7.9rem;
}

.page-subtitle {
    text-decoration: overline;
    font-size: 4.2rem;
}

.page-link {
    position: relative;
}

.page-link svg {
    height: 5.4rem;
    width: 5.4rem;
}