/* ====================================
       Mobile layout (eg. iPhone 4)
   ==================================== */

.main-wrapper {
    height: 25vh;
    max-height: 20vh;
    min-height: 160px;
}

.link-wrapper {
    margin-top: 1rem;
}

.page-title, .page-subtitle {
    margin: 0 0 0.3em 0;
    letter-spacing: -2px;
}

.page-title {
    font-size: 7.9rem;
}

.page-separator {
    border-width: 0.2rem;
    margin-right: 14%;
    margin-left: 14%;
    width: 72%;
}

.page-subtitle {
    font-size: 4.2rem;
}

.page-link {
    position: relative;
}

.page-link svg {
    height: 5.4rem;
    width: 5.4rem;
}