@import 'variables';

$border-width-1: $dim-1;
$border-width-2: $dim-2;


%border-shared {
  border-color: $color-dark-accent;
  border-style: solid;
  border-width: $dim-02;
}

@mixin noborder() {
  border: none;
}