$color-dark: #010400;
$color-dark-accent: #14248A;
$color-light: #FFFFFF;
$color-light-accent: #EFF1F3;

$font-default: Arial, Helvetica, sans-serif;
$font-monospace: "Lucida Console", Monaco, monospace;
$font-serif: Georgia, 'Times New Roman', Times, serif;

$font-weight-thinner: 300;
$font-weight-thin: 400;
$font-weight-normal: 500;
$font-weight-thick: 600;

$dim-1: 1rem;
$dim-2: $dim-1 * 2;
$dim-3: $dim-1 * 3;
$dim-4: $dim-2 * 2;
$dim-5: $dim-1 * 5;

$dim-01: $dim-1 / 10;
$dim-02: $dim-1 / 5;
$dim-05: $dim-1 / 2;
$dim-075: ($dim-1 / 4) * 3;

$dim-full: 100%;
$dim-box: $dim-1 * 32;

$screen-breakpoint: 600px;

$box-shadow-normal: 0.2rem 0.5rem 0.2rem 0.1rem rgba(0, 0, 0, 0.2);
$box-shadow-elevated: 0.3rem 1rem 0.3rem 0.15rem rgba(0, 0, 0, 0.2);

$box-shadow-box-normal: 0 0.25rem 2.5rem rgba(0, 0, 0, 0.30), 0 1rem 0.75rem rgba(0, 0, 0, 0.25);
$box-shadow-box-elevated: 0 1rem 1.875rem rgba(0, 0, 0, 0.25), 0 0.625rem 0.625rem rgba(0, 0, 0, 0.25);

$box-shadow-button-normal: 0.2rem 0.2rem 0.2rem 0.1rem rgba(0,0,0,.1);
$box-shadow-button-elevated: 0.2rem 0.2rem 0.2rem 0.2rem rgba(0,0,0,.3);