@import 'variables';
@import 'grid';
@import 'borders';

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* Globals */
html,
body {
  font-family: $font-default;

  @media only screen and (max-width: $screen-breakpoint) {
    height: $dim-full;
  }
}

main {
  @media only screen and (max-width: $screen-breakpoint) {
    box-shadow: none;
  }
}

/* Wrapper */
.container {
  height: $dim-full;
  width: $dim-full;
  position: absolute;

  display: flex;
  justify-content: center;
  align-items: center;

  @media only screen and (max-width: $screen-breakpoint) {
    display: block;
    height: unset;
    min-height: calc(100% - 5rem);
    position: unset;
    padding-top: 0;
    padding-bottom: 0;
  }
}

.box {
  width: $dim-box;
  box-shadow: $box-shadow-box-normal;

  padding-top: $dim-2;
  padding-bottom: $dim-1;

  @media only screen and (max-width: $screen-breakpoint) {
    padding-top: $dim-2;
    width: $dim-full;
    box-shadow: $box-shadow-box-elevated;
  }
}

.box:hover {
  box-shadow: $box-shadow-box-elevated;
}

/* Header with introduction */
header {
  border-bottom: none !important;

  @media only screen and (max-width: $screen-breakpoint) {
    border: none !important;
  }
}

.introduction {
  font-weight: $font-weight-thinner;
  padding: $dim-1 $dim-1 0;

  font-size: $dim-2 + $dim-05;
  line-height: 1.8;
  margin: 0;
}

/* Main content */
.content {
  margin-left: $dim-1;
  margin-right: $dim-1;

  display: none;

  margin-top: $dim-2;
  padding-bottom: $dim-1;

  @media only screen and (max-width: $screen-breakpoint) {
    padding-left: 0;
    padding-right: 0;
  }
}

small {
  line-height: 1.8;
  text-transform: uppercase;
  font-size: $dim-1;
  font-weight: $font-weight-thick;
}

.lead {
  line-height: 1.8;
  text-align: justify;
  margin-top: $dim-1;
  margin-bottom: 0;
  font-size: 1.25rem;
}

.lead span {
  color: $color-dark-accent;
}

.lead:first-of-type {
  margin-top: 0;
}

cite {
  font-weight: $font-weight-thin;
  font-style: oblique;
}

mark {
  padding: 0.3rem 0.4rem $dim-02;
  background-color: $color-light-accent;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

mark:hover {
  background-color: $color-dark-accent;
  color: $color-light;

  a {
    color: $color-light;
  }
}

.button {
  @extend %border-shared;

  font-weight: $font-weight-normal;
  text-align: center;
  text-decoration: none;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  background-image: none;
  margin: 0;
  background-color: transparent;
  padding: 0.3rem 0.4rem $dim-02;
  color: $color-dark-accent;

  @media only screen and (max-width: $screen-breakpoint) {
    box-shadow: $box-shadow-normal;
  }
}

.button:hover {
  @extend %border-shared;

  color: $color-light;
  background-color: $color-dark-accent;

  @media only screen and (max-width: $screen-breakpoint) {
    box-shadow: $box-shadow-elevated;
  }
}

nav {
  width: calc(100% + 4rem);
  margin-left: -$dim-2;

  @media only screen and (max-width: $screen-breakpoint) {
    padding-top: $dim-1;
    width: $dim-full;
    margin: 0;

    box-shadow: none !important;
  }

  box-shadow: $box-shadow-box-normal;
}

nav:hover {
  box-shadow: $box-shadow-box-elevated;
}

.tabbar {
  @extend %grid-shared;
  grid-gap: unset;

  width: $dim-full;
  margin: 0;

  grid-template-columns: $grid-columns-4;
  padding: 0;
  list-style: none;

  @media only screen and (max-width: $screen-breakpoint) {
    @include noborder;

    width: calc(100% - 2rem);
    grid-template-columns: $grid-columns-2;
    grid-gap: $grid-gap-1;

    margin-left: $dim-1;
    margin-right: $dim-1;
  }
}

.tab {
  @extend %border-shared;

  background-color: $color-dark-accent;
  border-color: $color-dark-accent;

  @media only screen and (max-width: $screen-breakpoint) {
    background-color: $color-light;
    border-color: $color-dark-accent;
  }
}

input {
  display: none;
}

label {
  text-transform: uppercase;
  text-align: center;
  display: block;
  padding: $dim-05;
  font-weight: $font-weight-thin;

  background-color: $color-dark-accent;
  color: $color-light;

  @media only screen and (max-width: $screen-breakpoint) {
    background-color: $color-light;
    color: $color-dark-accent;

    box-shadow: $box-shadow-normal;
  }
}

label:hover {
  cursor: pointer;
  font-weight: $font-weight-normal;

  background-color: $color-light;
  color: $color-dark-accent;

  @media only screen and (max-width: $screen-breakpoint) {
    background-color: $color-dark-accent;
    color: $color-light;

    box-shadow: $box-shadow-elevated;
  }
}

/* Tab selected */
#tabAbout:checked ~ #about,
#tabInterests:checked ~ #interests,
#tabProjects:checked ~ #projects,
#tabContact:checked ~ #contact {
  display: block;
}

input[id="tabAbout"]:checked ~ nav .tabbar .tab label[for="tabAbout"],
input[id="tabInterests"]:checked ~ nav .tabbar .tab label[for="tabInterests"],
input[id="tabContact"]:checked ~ nav .tabbar .tab label[for="tabContact"],
input[id="tabProjects"]:checked ~ nav .tabbar .tab label[for="tabProjects"] {
  font-weight: $font-weight-normal;

  background-color: $color-light;
  color: $color-dark-accent;

  @media only screen and (max-width: $screen-breakpoint) {
    background-color: $color-dark-accent;
    color: $color-light;

    box-shadow: $box-shadow-elevated;
  }
}

/* Footnotes */
.footnotes {
  @extend %grid-shared;
  grid-template-columns: $grid-columns-2;

  margin-top: $dim-05;
  margin-bottom: $dim-05;
  padding: 0;
}

/* Content specific layouts */
#projects .footnotes:nth-of-type(2) {
  grid-template-columns: $grid-columns-2;
}

#contact .footnotes {
  grid-template-columns: $grid-columns-3;
}

#projects .footnotes:nth-of-type(2) {
  grid-template-columns: $grid-columns-2;
}

/* Footer */
footer {
  position: absolute;
  right: $dim-1;
  bottom: $dim-1;
  text-align: right;

  padding: $dim-1;
  font-family: $font-monospace;
  background-color: $color-light-accent;

  @media only screen and (max-width: $screen-breakpoint) {
    position: initial;
    height: $dim-2;
    margin-left: $dim-1;
    margin-right: $dim-1;

    border: none !important;
    box-shadow: none !important;
    background-color: unset;
  }

  box-shadow: $box-shadow-box-normal;
}

footer:hover {
  box-shadow: $box-shadow-box-elevated;
}

footer p {
  font-size: $dim-075;
  margin: 0;

  @media only screen and (max-width: $screen-breakpoint) {
    text-align: center;
  }
}

/* Signature */
.signature {
  margin-left: $dim-3;
  margin-right: $dim-3;
  margin-bottom: $dim-1;
  font-family: $font-serif;
}