---
layout: main
stylesheet: index.css
---

<!-- Page wrapper -->
<section class="container">
    <article id="content" class="bordered">
        <div class="bordered">
            <header class="title">
                <h1>I'm Lukas,</h1>
            </header>

            <br>

            {% include section_about.html %}

            <hr>

            {% include section_interests.html %}

            <hr>

            {% include section_links.html %}

            {% include corners.html %}
        </div>
    </article>
</section>

<div class="footer">
    {% include disclaimer.html %}
    {% include copyright.html %}
</div>