---
layout: default
title: "Curriculum Vitae"
stylesheet: resume

permalink: /resume/
---

{% assign data = site.data.resume %}

<div class="container">
  <div class="header">
    <!-- {% include resume/image.html %} -->
    
    <div class="basics">
      <h1 class="name">{{site.data.resume.basics.name | default: site.title }}</h1>

      {% if data.basics.label %}
      <h2 class="label">{{ data.basics.label }}</h2>
      {% endif %}
    </div>
  </div>
  <div class="container-block">
    <div class="sidebar">
      {% include resume/profiles.html %}
      {% include resume/languages.html %}
      {% include resume/education.html %}
      {% include resume/skills.html %}
      {% include resume/interests.html %}
    </div>

    <div class="main">
      {% include resume/career.html %}
      {% include resume/work.html %}
      {% include resume/publications.html %}
      {% include resume/volunteer.html %}
      {% include resume/projects.html %}
    </div>
  </div>
</div>