---
layout: default
title: "Curriculum Vitae"
stylesheet: resume

permalink: /resume/
---

{% assign data = site.data.resume %}

<div class="container">
  <div class="header">
    {% include resume/image.html %}
    
    <div class="basics">
      <h1 class="name">{{site.data.resume.basics.name | default: site.title }}</h1>

      {% if data.basics.label %}
      <h2 class="label">{{ data.basics.label }}</h2>
      {% endif %}
    </div>
  </div>
  <div class="container-block">
    <div class="sidebar">
      {% include resume/sidebar/profiles.html %}
      {% include resume/sidebar/location.html %}
      {% include resume/sidebar/languages.html %}
      {% include resume/sidebar/education.html %}
      {% include resume/sidebar/skills.html %}
      {% include resume/sidebar/certificates.html %}
      {% include resume/sidebar/interests.html %}
    </div>

    <div class="main">
      {% include resume/content/career.html %}
      {% include resume/content/work.html %}
      {% include resume/content/publications.html %}
      {% include resume/content/volunteer.html %}
      {% include resume/content/projects.html %}
    </div>
  </div>
</div>