<head>
    <meta charset="utf-8"/>
    <title>Lukas Wolfsteiner</title>

    <!-- Search engine control -->
    {%- include seo.html -%}    

    <!-- Layout management -->
    <meta name="HandheldFriendly" content="True">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ "/assets/normalize.css" | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
    
    <link rel="shortcut icon" type="image/x-icon" href="{{ "/assets/favicon.ico" | relative_url }}">

    <!-- Prefetch linked sites -->
    {%- include prefetch.html -%}    
    
    <!-- Google Analytics -->
    {%- include analytics.html -%}
  </head>