<script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "Person",
        "name": "Lukas Wolfsteiner",
        "url": "http://lukas.wolfsteiner.media",
        "alternateName": "dotwee",
        "sameAs": [
            "http://dotwee.de",
            "http://twitter.com/dnkncht",
            "http://www.xing.com/profile/Lukas_Wolfsteiner2",
            "http://www.linkedin.com/in/lukas-wolfsteiner/",
            "http://instagram.com/dnknch",
            "https://soundcloud.com/eldubleju"
        ]
    }
</script>