<meta name="robots" content="index, follow">
<meta name="description" content="Coding'n personal stuff">
<meta name="author" content="Lukas Wolfsteiner">
<meta name="publisher" content="Lukas Wolfsteiner">
<meta name="copyright" content="Lukas Wolfsteiner">
<link rel="canonical" href="https://lukas.wolfsteiner.media/">
<meta name="keywords" content="Wolfsteiner, Lukas, Lukas Wolfsteiner, Lukas dotwee Wolfsteiner, dotwee, dot, wee, coding, wee coding, dotwee coding">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">