* {
    font-family: "Helvetica", "Arial", sans-serif;
    text-align: justify;
    line-height: 1.5;
}

a:visited {
    color: var(--text-label);
}

body {
    background-color: var(--background-secondary);
}

.container {
    max-width: 900px;
    min-height: 900px;
    margin: 0 auto;
    background-color: var(--background-primary);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    padding: var(--grid-spacing);
    margin-top: var(--grid-spacing);
    margin-bottom: var(--grid-spacing);
    .container-block {
        width: 90%;
        margin: 0 auto;
        padding: var(--grid-spacing);
        display: grid;
        grid-template-columns: 2fr 5fr;
        grid-column-gap: var(--grid-spacing);
        .sidebar {
            margin-top: var(--grid-spacing);
        }
    }
}

ul {
    list-style-type: square;
    //margin-top: 0;
}