.header {
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;

    .image {
        padding-right: var(--grid-spacing);
        
        img {
            height: 120px;
            width: 120px;
            border-radius: 50%;
        }
      }

    .basics {
        .name, .label {
            text-transform: uppercase;
        }
    
        .name {
            font-weight: bolder;
            color: var(--text-primary);
            margin-bottom: 0;
        }
        .label {
            color: var(--text-label);
            text-align: left;
            font-weight: bold;
            margin-top: 0;
        }        
    }
}
