.projects {
    .title {
        @include header;
    }
    .project {
        margin-bottom: var(--grid-spacing);

        .name {
            @include body-text;

            a {
                font-weight: bold;
            }

            .startDate {
                @include time;

                float: right;
            }
        }

        .description {
            @include body-text;
        }

        .highlights {
            @include body-text;
        }
    }
}
