.projects {
    .title {
        @include header;
    }
    .project {
        margin-bottom: var(--grid-spacing);
        .name {
            @include body-text;
        }
        
        .description {
            @include body-text;
        }
        .details {
            @include body-text;
            text-transform: lowercase;
            ul {
                list-style-type: square;
                margin-top: 0;
            }
            .highlight-item, .highlight-item p {
                margin: 0;
            }
        }
    }
}
