@media screen and (max-width: 1024px) {
    body {
        background-color: var(--background-primary);
    }
    .container {
        box-shadow: none;
        .container-block {
            .sidebar {
                div {
                    text-align: left;
                }
            }
        }
    }
    .work {
        .name {
            text-align: left !important;
        }
    }
}

@media screen and (max-width: 512px) {
    .container {
        padding-left: 0;
        padding-right: 0;
        
        .container-block {
            display: block;
        }
    }
}
