.volunteer {
    .title {
        @include header;
    }
    
    .item {
        margin-bottom: var(--grid-spacing);
        .position {
            @include sub-header;
        }
        .organization {
            @include body-text;
            font-weight: bold;

            .time {
                @include time;

                float: right;
                margin-left: calc(var(--grid-spacing) / 2);
            }
        }
        .details {
            @include body-text;

            ul {
                list-style-type: square;
                margin-top: 0;
            }
        }
    }
}
