.work {
    .title {
        @include header;
    }
    .work-item {
        .position {
            @include sub-header;
        }
        .name {
            @include body-text;
            font-weight: bold;

            .time {
                @include time;

                float: right;
                margin-left: calc(var(--grid-spacing) / 2);
            }
        }
        .summary {
            @include body-text;
            ul {
                list-style-type: square;
            }
            br {
                font-size: 200%;
            }
        }
        .highlights {
            @include body-text;
            ul {
                list-style-type: square;
            }
            .highlight-item, .highlight-item p {
                margin: 0;
            }
        }
        .technologies {
            @include body-text;
            font-style: italic;
        }
    }
}
