body {
    font-family: "Times New Roman", Times, serif;
    color: var(--fg-color-body);
    padding: 2.5rem 5rem;

    background-color: var(--bg-color);
}

h1, h2, h3,
strong {
    color: var(--fg-color)
}
