:root {
    --bg-color: #f1f1f1;
    --bg-color-cv: white;
    --fg-color: blue;
    --fg-color-dark: blue;
    --fg-color-body: black;
    --fg-color-title-sm: black;

    --grid-spacing: 20px;
    --stroke-width: 0.2rem;
}

/* disabled while WIP */
$dark-theme-enabled: false;

@if $dark-theme-enabled {
    @media (prefers-color-scheme: dark) {
        :root {
            --bg-color: black;
            --bg-color-cv: #00072D;
            --fg-color: #A6E1FA;
            --fg-color-dark: #A6E1FA;
            --fg-color-body: white;
            --fg-color-title-sm: white;
        }
    }
}
