@use "../../mixins";

body {
    font-family: "Lucida Console", Monaco, monospace;
    color: var(--text-primary);
    padding: 2.5rem 5rem;

    background-color: var(--background-primary);
}

h1,
h2,
h3 {
    color: var(--text-label)
}

p,
span,
blockquote {
    @include mixins.body-text;
    font-size: .8rem;
}

code {
    font-style: italic;
}