@use "../../mixins";

body {
    font-family: "Lucida Console", Monaco, monospace;
    color: var(--text-primary);
    padding: var(--grid-spacing) calc(var(--grid-spacing) * 2);

    background-color: var(--background-primary);
}

h1,
h2,
h3 {
    color: var(--text-label)
}

p,
span,
blockquote {
    @include mixins.body-text;
    font-size: calc(var(--grid-spacing) / 2);
}

code {
    font-style: italic;
}