html,
body {
    font-family: Georgia, serif;
    letter-spacing: .014rem;
    height: 100%;
    width: 100%
}

body {
    background-color: var(--background-primary);
}

strong {
    font-weight: normal
}

table {
    width: 100%;
}

.container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center
}

#content {
    position: relative;
    display: inline-block;
    padding: .5rem;
    width: 24rem;
    margin: 0 auto
}

#content div {
    padding: calc(var(--grid-spacing) * 2)
}

#content span {
    margin-bottom: var(--grid-spacing)
}


span,
li,
a,
h1,
a:visited {
    color: var(--text-label)
}

ul>li {
    text-transform: lowercase;
}

h1 {
    font-weight: normal;
    line-height: 100%
}

@media screen and (max-width: 500px) {
    body {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        height: unset;
    }
    .container {
        flex: 1 0 auto;
        padding: calc(var(--grid-spacing) / 2);
    }
    .footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-bottom: calc(var(--grid-spacing) / 2);
        flex-shrink: 0;
    }

    #content div {
        padding: calc(var(--grid-spacing))
    }
}