@use "../../mixins";

.copyright {
    font-family: "Lucida Console", Monaco, monospace;
    text-align: right;
    position: fixed;
    bottom: 1rem;
}

.copyright {
    right: 1rem;
}

.copyright p,
.copyright a {
    @include mixins.body-text;
    font-size: 0.7rem;
    line-height: 1rem;
    padding: 0;
    margin: 0;
}

.copyright a {
    color: var(--text-label);
}

@media screen and (max-width: 500px) {
    .copyright {
        position: inherit;
        margin-right: 1rem;
        margin-bottom: 1rem;
    }
}
