@use "../../mixins";

.copyright {
    text-align: right;
    position: fixed;
    bottom: var(--grid-spacing);
    right: var(--grid-spacing);
}

.copyright p,
.copyright a {
    @include mixins.footer-text;
    padding: 0;
    margin: 0;
}

@media screen and (max-width: 500px) {
    .copyright {
        position: static;
        margin: 0 auto var(--grid-spacing) auto;
        text-align: center;
        width: fit-content;
    }
    .copyright p {
        display: inline;
        margin-right: 0;
    }
    .copyright p:not(:last-child)::after {
        margin-left: 0;
    }
}
