.bordered {
    border: var(--stroke-width) solid var(--text-primary);
}

svg {
    display: block;
    max-width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

.corner-line {
    fill: none;
    stroke: var(--text-primary);
    stroke-miterlimit: 10;
    position: absolute;
    stroke-width: var(--stroke-width);
    width: 60px;
    height: 60px;
}

.corner-line-top-left {
    top: calc(var(--stroke-width) * -0.5);
    left: calc(var(--stroke-width) * -0.5);
}

.corner-line-top-right {
    top: calc(var(--stroke-width) * -0.5);
    right: calc(var(--stroke-width) * -0.5);
}

.corner-line-bottom-left {
    bottom: calc(var(--stroke-width) * -0.5);
    left: calc(var(--stroke-width) * -0.5);
}

.corner-line-bottom-right {
    bottom: calc(var(--stroke-width) * -0.5);
    right: calc(var(--stroke-width) * -0.5);
}
