.bordered {
    border: var(--stroke-width) solid var(--text-primary);
}

svg {
    display: block;
    max-width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

.corner-line {
    fill: none;
    stroke: var(--text-primary);
    stroke-miterlimit: 10;
    position: absolute;
    stroke-width: var(--stroke-width);
    width: 60px;
    height: 60px;
}

.corner-line-top-left {
    top: -0.7rem;
    left: -0.7rem;
}

.corner-line-top-right {
    top: -0.7rem;
    right: -0.7rem;
}

.corner-line-bottom-left {
    bottom: -0.7rem;
    left: -0.7rem;
}

.corner-line-bottom-right {
    bottom: -0.7rem;
    right: -0.7rem;
}
