.entry {
    font-size: 1.4rem;
    text-align: left;
    margin-bottom: var(--grid-spacing);
    display: grid;
}

.entry h2 {
    font-weight: normal;
    line-height: 100%;
    text-transform: uppercase;
    font-family: Helvetica, sans-serif;
    text-align: left;
    font-size: 0.9rem;
    color: var(--text-primary);
}

.entry ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.entry ul li > a {
    text-decoration: none;
}

.entry table tr td > a {
    text-decoration: none;
}

.entry ul li > a:hover,
.entry table tr td > a:hover {
    text-decoration: underline;
}

@media screen and (max-width: 500px) {

    /* Make the right columns text align right on mobile layouts */
    #content > div > section:nth-child(5) {
        tr > td:last-of-type, tr > th:last-of-type h2 {
            text-align: right;
        }
    }

    .entry {
        font-size: 1.6;
    }
}
