{% assign projects = site.data.resume.projects | sort: "startDate" | reverse %}
{% if projects %}
<section class="projects">
    <h2 class="title">Public projects</h2>
    {% for item in projects %}
    <div class="project">
        <div class="name">
            <a href="{{ item.url }}">{{ item.name }}</a>

            {% if item.keywords %}
            <span class="keywords">{{ item.keywords | join: " #" | prepend: "#" | downcase }}</span>
            {% endif %}

            <span class="startDate"> {{ item.startDate | date: "%B %Y" }}</span>
        </div>

        <div class="description">{{ item.description }}</div>

        {% if item.highlights %}
        <div class="highlights">
            <ul>
                {% for highlight in item.highlights %}
                <li>{{ highlight }}</li>
                {% endfor %}
            </p>
        </div>
        {% endif %}
    </div>
    {% endfor %}
</section>
{% endif %}