{% assign volunteer = site.data.resume.volunteer | sort: "startDate" | reverse %}
{% if volunteer %}
<section class="volunteer">
    <h2 class="title">Volunteering</h2>

    {% for item in volunteer %}
    <div class="item">
        <div class="position">
            {{ item.position }}
        </div>
        <div class="organization">
            <a href="{{ item.url }}" target="_blank">{{ item.organization }}</a>
            <span class="time">{{ item.startDate | date: "%Y" }} - {{ item.endDate | default: "present" }}</span>
        </div>

        <div class="details">
            {% if item.summary %}
            <p class="summary">{{ item.summary }}</p>
            {% endif %}

            {% if item.highlights %}
            <ul class="highlights">
                {% for highlight in item.highlights %}
                <li class="highlight">{{ highlight | markdownify }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
    </div>

    {% endfor %}
</section>
{% endif %}