{% assign work = site.data.resume.work %}

{% if work %}
<section class="work">
    <h2 class="title">Work Experience</h2>
    {% for item in work %}
    <div class="work-item">
        <div class="position">
            {{ item.position }}
        </div>
        <div class="name">
            {% if item.url %}
            <a href="{{ item.url }}">{{ item.name }}</a>
            {% else %}
            {{ item.name }}
            {% endif %}
            <span class="time">{{ item.startDate | date: "%Y" }} - {{ item.endDate | date: "%Y" | default: "present" }}</span>
        </div>

        {% if item.summary %}
        <div class="summary">
            {{ item.summary | newline_to_br }}
        </div>
        {% endif %}

        {% if item.highlights %}
        <div class="highlights">
            <p><strong>Highlights</strong></p>
            <ul>
                {% for highlight in item.highlights %}
                <li class="highlight">{{ highlight | markdownify }}</li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}

        {% assign references = site.data.resume.references | where_exp: "reference", "reference.name contains item.name"  %}
        {% if references.size > 0 %}
        <div class="references">
            <p><strong>References</strong></p>
            <ul>
                {% for reference in references %}
                <li class="reference">
                    <a href="{{ reference.reference }}" target="_blank">Letter of Reference by {{ reference.name }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
    </div>

    {% endfor %}
</section>
{% endif %}