/* Default stuff */

html,
body {
  font-family: Georgia, serif;
  letter-spacing: 0.014rem;
  height: 100%;
  width: 100%;
}

.container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bordered {
  border: 0.2rem solid black;
}

/* Main wrapper */

#main-wrapper {
  position: relative;
  display: inline-block;
  padding: 0.5rem;
  width: 24rem;
  margin: 0 auto;
}

#main-wrapper div {
  padding: 2rem;
}

#main-wrapper span {
  margin-bottom: 1rem;
}

svg {
  display: block;
  max-width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

span,
li,
a,
h1 {
  color: blue;
}

.corner-line {
  fill: none;
  stroke: black;
  stroke-miterlimit: 10;
  position: absolute;
  stroke-width: 0.2em;
  width: 60px;
  height: 60px;
}

.corner-line-top-left {
  top: -0.7rem;
  left: -0.7rem;
}

.corner-line-top-right {
  top: -0.7rem;
  right: -0.7rem;
}

.corner-line-bottom-left {
  bottom: -0.7rem;
  left: -0.7rem;
}

.corner-line-bottom-right {
  bottom: -0.7rem;
  right: -0.7rem;
}

/* Separator */

hr {
  border: none;
  height: 0.2rem;
  color: black;
  margin-bottom: 1rem;
  margin-top: 1rem;
  background-color: black;
}

/* Header */

h1,
.entry small {
  font-weight: normal;
  line-height: 100%;
}

/* entries */

.entry {
  font-size: 1.4rem;
  text-align: left;
  margin-bottom: 1rem;
  display: grid;
}

.entry small {
  text-transform: uppercase;
  font-family: Helvetica, sans-serif;
  text-align: left;
  font-size: 0.8rem;
  color: black;
}

.entry ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.entry ul li>a,
.entry table tr td>a {
  text-decoration: none;
}

.entry ul li>a:hover,
.entry table tr td>a:hover {
  text-decoration: underline;
}

/* Footer */

.footer-wrapper,
.disclaimer-wrapper {
  font-family: "Lucida Console", Monaco, monospace;
  text-align: right;
  position: fixed;
  bottom: 1rem;
}

.footer-wrapper {
  right: 1rem;
}

.footer-wrapper p,
.disclaimer-wrapper a {
  font-size: 0.7rem;
  line-height: 1rem;
  padding: 0;
  margin: 0;
}

.disclaimer-wrapper {
  left: 1rem;
}

@media screen and (max-width: 500px) {
  body {
    height: unset;
  }
  .title {
    text-align: center;
  }
  #main-wrapper div {
    padding: 0.5rem;
  }
  #main-wrapper {
    margin: 1rem;
  }
  #main-wrapper div {
    padding: 1rem 1rem 2rem;
  }
  .disclaimer-wrapper,
  .footer-wrapper {
    position: inherit;
    margin-right: 1rem;
  }
  .footer-wrapper {
    margin-bottom: 1rem;
  }
}

/* 404 Error page */

strong {
  font-weight: normal;
}