@use "../../../mixins";

.certificates {
    margin-bottom: var(--grid-spacing);
    .title {
        @include mixins.sub-header;
    }

    .certificate {
        margin-bottom: var(--grid-spacing);
        .name {
            @include mixins.body-text;
            font-weight: bold;
            text-align: start;
        }

        .issuer {
            @include mixins.body-text;
            text-align: start;
        }
    }
}
