@use "../../../mixins";

.education {
    margin-bottom: var(--grid-spacing);
    .title {
        @include mixins.sub-header;
    }
    .education-item {
        margin-bottom: var(--grid-spacing);
        .degree {
            @include mixins.body-text;
            font-weight: bold;
            text-align: start;
        }

        .institution {
            @include mixins.body-text;
            text-align: start;
        }

        .time {
            @include mixins.time;
        }
    }
}
