/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 1.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* Globals */
html,
body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Wrapper */
.container {
  height: 100%;
  width: 100%;
  position: absolute;

  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  width: 32rem;
}

/* Header with introduction */
header {
  border-bottom: none !important;
}

.introduction {
  font-weight: 300;
  padding: 1rem 1rem 0;

  font-size: 2.5rem;
  line-height: 1.8;
  margin: 0;
}

/* Main content */
.content {
  margin-left: 1rem;
  margin-right: 1rem;
  
  display: none;
  border-bottom-style: solid;
  border-bottom-width: 0.2rem;

  margin-top: 2rem;
  padding-bottom: 1rem;
}

small, .lead {
  line-height: 1.8;
}

small {
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 600;
}

.lead {
  text-align: justify;
  margin-top: 1rem;
  margin-bottom: 0;
  font-size: 1.25rem;
}

.lead:first-of-type {
  margin-top: 0;
}

cite {
  font-weight: 400;
  font-style: oblique;
}

mark {
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.button {
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
   background-image: none;
  margin: 0;
}

mark,
.button {
  padding: 0.3rem 0.4rem 0.2rem;
}

/* Tabs and tabbar */
input {
  display: none;
}

label {
  text-transform: uppercase;
  text-align: center;
  display: block;
  padding: 0.5rem;
  font-weight: 400;
}

label:hover {
  cursor: pointer;
  font-weight: 500;
}

#tabAbout:checked~#about,
#tabInterests:checked~#interests,
#tabProjects:checked~#projects,
#tabContact:checked~#contact {
  display: block;
}

input[id="tabAbout"]:checked~nav .tabbar .tab label[for="tabAbout"],
input[id="tabInterests"]:checked~nav .tabbar .tab label[for="tabInterests"],
input[id="tabContact"]:checked~nav .tabbar .tab label[for="tabContact"],
input[id="tabProjects"]:checked~nav .tabbar .tab label[for="tabProjects"] {
  font-weight: 500;
}

nav {
  width: calc(100% + 4rem);
  margin-left: -2rem;
}

.tabbar {
  width: 100%;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 0;
  list-style: none;
}

/* Footnotes */
.footnotes {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  padding: 0;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
}

#contact .footnotes {
  grid-template-columns: 1fr 1fr 1fr;
}

#projects .footnotes:nth-of-type(2) {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

/* Footer */
footer {
  position: absolute;
  right: 1rem;
  bottom: 1rem;
  text-align: right;

  padding: 1rem;
}

footer p {
  font-size: 0.75rem;
  margin: 0;
}

/* Signature */
.signature {
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.font-lucida {
  font-family: "Lucida Console", Monaco, monospace;
}

.font-georgia {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.bordered-1,
.bordered-2 {
  border-style: solid;
}

.bordered-1 {
  border-width: 0.1rem;
}

.bordered-2 {
  border-width: 0.2rem;
}

.boxed {
  box-shadow: 0 1.25rem 2.5rem rgba(0, 0, 0, 0.30), 0 1rem 0.75rem rgba(0, 0, 0, 0.22);
}

.boxed:hover {
  box-shadow: 0 1rem 1.875rem rgba(0, 0, 0, 0.25), 0 0.625rem 0.625rem rgba(0, 0, 0, 0.22);
}

/*
 * Hide visually and from screen readers
 */

/*noinspection CssUnusedSymbol*/
.hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

/*noinspection CssUnusedSymbol*/
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
  /* 1 */
}

/*
* Extends the .visuallyhidden class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

/*noinspection CssUnusedSymbol,CssUnusedSymbol,CssUnusedSymbol,CssUnusedSymbol*/
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
  white-space: inherit;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

/*noinspection CssUnusedSymbol*/
.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

/*noinspection CssUnusedSymbol,CssUnusedSymbol*/
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

/*noinspection CssUnusedSymbol*/
.clearfix:after {
  clear: both;
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {

  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " ("attr(href) ")";
  }

  abbr[title]:after {
    content: " ("attr(title) ")";
  }

  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}