<section class="entry">
    <table>
        <tr>
            <th>
                <h2>publications</h2>
            </th>
            <th>
                <h2>contact</h2>
            </th>
        </tr>

        <tr>
            <td>
                <ul>
                    <li>
                        <a class="link" href="{% link resume.html %}">resume</a>
                    </li>

                    {% assign publications_links = site.data.links | where_exp: "link", "link.tags contains 'publication'" | reverse %}
                    {% for link in publications_links %}
                    <li>
                        <a class="link" target="_blank" href="{% link links/{{ link.name }}.html %}">{{ link.name }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </td>
            <td>
                <ul>
                    {% assign contact_links = site.data.links | where_exp: "link", "link.tags contains 'contact'" %}
                    {% for link in contact_links %}
                    <li>
                        <a class="link" target="_blank" href="{% link links/{{ link.name }}.html %}">{{ link.name }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
    </table>
</section>
