---
---

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{{ site.title }}</title>

    <!-- Search engines control -->
    {% include seo.html %}

    <!-- Favicon -->
    {% favicon %}

    <!-- Layout management -->
    <meta name="theme-color" media="(prefers-color-scheme: light)" content="white">
    <meta name="theme-color" media="(prefers-color-scheme: dark)" content="blue">
    <meta name="HandheldFriendly" content="True">

    <!-- Prefetch linked sites -->
    <link rel="dns-prefetch" href="/disclaimer.html">

    <!-- Default page style -->
    <link rel="stylesheet" href="/assets/css/normalize.css">
    <link rel="stylesheet" href="/assets/css/{{ page.stylesheet }}.css">
</head>

<body>
    <img referrerpolicy="no-referrer-when-downgrade" width="0" height="0" src="https://matm.dotwee.de/matm.php?idsite=1&amp;rec=1" style="border:0" alt="" />

    {{ content }}

</body>

</html>
