---

seo:
  type: Person
  name: Lukas Wolfsteiner
  links:
    - https://twitter.com/dnkncht
    - https://www.xing.com/profile/Lukas_Wolfsteiner2
    - https://www.linkedin.com/in/lukas-wolfsteiner
    - https://instagram.com/dnkncht
    - https://github.com/dotWee
    - https://keybase.io/dotwee
    - https://hub.docker.com/u/dotwee
---

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    
    <title>{{ site.title }}{% if page.title %}: {{ page.title }}{% endif %}</title>

    <!-- Search engines control -->
    {% seo title=false %}
    <meta name="robots" content="index, follow">
    <meta name="publisher" content="Lukas Wolfsteiner">
    <meta name="copyright" content="Lukas Wolfsteiner">
    <meta name="keywords"
        content="Wolfsteiner, Lukas, Lukas Wolfsteiner, Lukas dotwee Wolfsteiner, dotwee, dot, wee, coding, wee coding, dotwee coding">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    {% include matm.html %}

    <!-- Favicon -->
    {% favicon %}

    <!-- Layout management -->
    <meta name="theme-color" media="(prefers-color-scheme: light)" content="white">
    <meta name="theme-color" media="(prefers-color-scheme: dark)" content="blue">
    <meta name="HandheldFriendly" content="True">

    <!-- Prefetch linked sites -->
    <link rel="dns-prefetch" href="/imprint.html">

    <!-- Default page style -->
    <link rel="stylesheet" href="/assets/css/normalize.css">
    <link rel="stylesheet" href="/assets/css/{{ page.stylesheet }}.css">
</head>

<body>
    {% include matm.html noscript=true %}

    {{ content }}

</body>

</html>