---
seo:
  type: person
  name: Lukas Wolfsteiner
  url: https://lukas.wolfsteiner.media
  image: /assets/img/photo.jpg
  links:
    - https://twitter.com/dotwee_
    - https://x.com/dotwee_
    - https://www.xing.com/profile/Lukas_Wolfsteiner2
    - https://www.linkedin.com/in/lukas-wolfsteiner
    - https://instagram.com/dnkncht
    - https://github.com/dotWee
    - https://keybase.io/dotwee
---

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{{ site.title }}{% if page.title %}: {{ page.title }}{% endif %}</title>

    <!-- Search engines control -->
    {% include _seo.html %}
    {% include _matm.html %}

    <!-- Favicon -->
    {% favicon %}

    <!-- Layout management -->
    <meta name="theme-color" media="(prefers-color-scheme: light)" content="white">
    <meta name="theme-color" media="(prefers-color-scheme: dark)" content="blue">
    <meta name="HandheldFriendly" content="True">

    <!-- Default page style -->
    <link rel="stylesheet" href="{% link /assets/css/normalize.css %}">
    {% if page.stylesheet %}
    <link rel="stylesheet" href="{{ page.stylesheet | append: '.css' | prepend: '/assets/css/' }}">
    {% endif %}
</head>

<body>
    {% include _matm.html noscript=true %}

    {{ content }}
</body>

</html>