--- 
layout: default 
---

<header class="title">
    <h1>{{ site.title }},</h1>
</header>

<br>

<section class="entry">
    <table>
        <tr>
            <th>
                <small>about</small>
            </th>
        </tr>

        <tr>
            <td>
                <ul>
                    <li>
                        <span>
                            {{ site.description }}
                        </span>
                    </li>
                </ul>
            </td>
        </tr>
    </table>
</section>

<hr>

<section class="entry">
    <table>
        <tr>
            <th>
                <small>interests</small>
            </th>
        </tr>

        <tr>
            <td>
                <ul>
                    {% for interest in page.interests %}
                    <li>{{ interest }}</li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
    </table>
</section>

<hr>

<section class="entry">
    <table>
        <tr>
            <th>
                <small>publications</small>
            </th>
            <th>
                <small>contact</small>
            </th>
        </tr>

        <tr>
            <td>
                <ul>
                    {% for publication in page.publications %}
                    <li>{{ publication }}</li>
                    {% endfor %}

                    <li>
                        <a class="link" href="https://github.com/{{ site.github_username }}">GitHub</a>
                    </li>

                    <li>
                        <a class="link" href="https://gitlab.com/{{ site.gitlab_username }}">GitLab</a>
                    </li>
                </ul>
            </td>
            <td>
                <ul>
                    {% for contact in page.contacts %}
                    <li>{{ contact }}</li>
                    {% endfor %}

                    <li>
                        <a class="link" href="https://twitter.com/{{ site.twitter_username }}">Twitter</a>
                    </li>
                    <li>
                        <a class="link" href="https://www.xing.com/profile/{{ site.xing_username }}">Xing</a>
                    </li>

                    <li>
                        <a class="link" href="https://www.linkedin.com/in/{{ site.linkedin_username }}">LinkedIn</a>
                    </li>
                </ul>
            </td>
        </tr>
    </table>
</section>