---
prefetch: false
---

<!DOCTYPE html>
<html lang="en-US">

<head>
  <meta charset="utf-8" />
  <title>{{ "Redirecting to " | append: page.title }}</title>
  {% include _matm.html %}

  <link rel="canonical" href="{{ page.redirect.to }}" />
  <script>
    const urlSuffix =
      "" +
      (location.hash ? location.hash : "") +
      (location.search ? location.search : "");
    location = "{{ page.redirect.to }}" + urlSuffix;
  </script>
  <meta id="refresh-meta" http-equiv="refresh" content="0; url={{ page.redirect.to }}" />
  <meta name="robots" content="noindex" />
</head>

<body>
  <h1>Redirecting&hellip;</h1>
  <a id="redirect-link" href="{{ page.redirect.to }}">Click here if you are not redirected.</a>
  {% include _matm.html noscript=true %}

  <script>
    // Add hash and search to meta redirect and manual link, in case script above did not work
    const urlSuffix2 =
      "" +
      (location.hash ? location.hash : "") +
      (location.search ? location.search : "");
    let refreshMeta = document.getElementById("refresh-meta");
    const newContentStr = refreshMeta.getAttribute("content") + urlSuffix2;
    refreshMeta.setAttribute("content", newContentStr);
    let redirectLink = document.getElementById("redirect-link");
    const newHrefUrl = redirectLink.getAttribute("href") + urlSuffix2;
    redirectLink.setAttribute("href", newHrefUrl);
  </script>
</body>

</html>