@use "../../../mixins";

.projects {
    .title {
        @include mixins.header;
    }
    .project {
        margin-bottom: var(--grid-spacing);

        .name {
            @include mixins.body-text;

            a {
                font-weight: bold;
            }

            .keywords {
                @include mixins.time;
            }

            .startDate {
                @include mixins.time;
                margin-left: calc(var(--grid-spacing) / 2);
                float: right;
            }
        }

        .description {
            @include mixins.body-text;
        }

        .highlights {
            @include mixins.body-text;
        }
    }
}
